<div class="edit-input">
  <div class="each-course">
    <button (click)="expand()" class="btn btn-warning btn-sm">Edit Course</button>
    <div *ngIf="editCourse" class="well">
      <input [(ngModel)]="selectedCourse.name">
      <br>
      <input [(ngModel)]="selectedCourse.coursePar">
      <br>
      <button (click)="submitCourseDelete(selectedCourse)" class="btn btn-danger btn-xs">Delete Course</button>
      <button (click)="submitCourseUpdate(selectedCourse)" class="btn btn-primary btn-xs">Save</button>
    </div>
  </div>
</div>
