<div class="row">
<h2>My Courses</h2>
<button (click)="addTheCourse()" id="addNewCourse" class="btn btn-success">Add New Course</button>
</div>
<div class="row">
  <div *ngIf="addMyCourse">
    <div class="col-md-4 col-md-offset-4 well">
      <span (click)="addTheCourse()" class="glyphicon glyphicon-remove-sign pull-right"></span>
      <h3>Add New Course</h3>
      <div>
        <div>
          <input #newName placeholder="Course Name" required>
          <br>
          <input #newScore placeholder="My Score">
          <br>
          <input #newCoursePar placeholder="Course Par">
          <br>
          <input #newImage placeholder="Image">
          <br>
        </div>
        <button class="btn btn-success" id="submit-course" (click)="submitForm(newName.value, newScore.value, newCoursePar.value, newImage.value); newName.value=''; newScore.value=''; newCoursePar.value=''; newImage.value=''">Add Course</button>
      </div>
    </div>
  </div>
</div>

<div class="course-grid">
  <div *ngFor="let course of courses | async">
    <div class="col-md-6 each-course">
      <div class="panel panel-default">
        <div (click)="goToDetailPage(course)" class="panel-heading view-details">
          <h3><b>{{course.name}}</b></h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
             <h4>Course Par: <em>{{course.coursePar}}</em></h4>
             <h4>My Average: <em>{{course.scores}}</em></h4>
           </div>
            <h3 class="col-md-6">Course Best: <em>{{course.scores}}</em></h3>
          </div>


          <!-- <h4>Add Score: <input #addScore placeholder="Score"><button class="btn btn-success" (click)="submitScore(addScore.value); addScore.value='';">Add</button></h4> -->

        </div>
      </div>
    </div>
  </div>
</div>
