<h2>My Courses</h2>

<div class="row">
  <div class="col-md-4 col-md-offset-4 well">
    <h3>Add New Course</h3>
    <div>
      <div>
        <input #newName placeholder="Course Name">
        <br>
        <input #newScore placeholder="My Score">
        <br>
        <input #newCoursePar placeholder="Course Par">
      </div>
      <button class="btn btn-success" (click)="submitForm(newName.value, newScore.value, newCoursePar.value); newName.value=''; newScore.value=''; newCoursePar.value='';">Add Course</button>
    </div>
  </div>
</div>

<div *ngFor="let course of courses | async" class="panel panel-default">
  <div class="panel-heading">
    <h3 (click)="goToDetailPage(course)"><b>{{course.name}}</b></h3>
  </div>
  <div class="panel-body">
    <h4>Course Par: <em>{{course.coursePar}}</em></h4>

    <!-- <h4>Add Score: <input #addScore placeholder="Score"><button class="btn btn-success" (click)="submitScore(addScore.value); addScore.value='';">Add</button></h4> -->

    <app-edit-course [selectedCourse]="course"></app-edit-course>
  </div>
</div>
