.main-nav {
  background: grey;
  padding: 3.5em;
  border-bottom: 2px solid #5cb85c;
}

.nav-link {
  padding: .3em;
  float: right;
  margin: -1em 1em;
  color: white;
}

.nav-link:hover {
  text-decoration: none;
  cursor: pointer;
  color: #5cb85c;
}
