@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
  font-family: Orbitron;
  background: url('./assets/img/golfer-background.jpg') no-repeat;
  background-position: right top;
}
